<div>
  <%= form_tag request.path_info, :id => "maillog_form", :class => "form-inline", :role => "form", :method => "GET" do |f| %>
    <%= render "layouts/datetime_picker", :minute => 60 %>
    <%= render "layouts/server_selector" %>
    <%= hidden_field_tag "sort", params[:sort] || "" %>

    <%= hidden_field_tag "filter[daemon]", (params[:filter])? params[:filter][:daemon]: "" %>
    <div class="form-group">
      <button type="submit" class="btn btn-default">送信</button>
    </div>
  <% end %>
  <% if params[:filter] %>
    <% params[:filter].each do |item, value| %>
      <button type="button" class="btn btn-default" onclick="exec_filter('maillog_form', '<%= item %>','')"><%= item %>: <%= value %> <span class="glyphicon glyphicon-remove"></span></button>
    <% end %>
  <% end %>
</div>
