<h1>maillog<%= " - #{params[:session]}" if params[:session] %></h1>
<%= render "form" %>
<% if @logs %>
  <%= paginate @logs %>
  <%= render "table" %>
  <%= paginate @logs %>
<% else %>
  該当するログがありませんでした
<% end %>
<%= javascript_include_tag :maillog %>
