<div>
  <%= form_tag request.path_info, :id => "apache_access_form", :class => "form-inline", :role => "form", :method => "GET" do |f| %>
    <%= render "layouts/datetime_picker", :minute => 5 %>
    <div class="form-group">
      <label>
        ステータスコード:
      </label>
      <%= select_tag :code, options_for_select([["全て", ""], ["200", "ok"], ["200以外", "not_ok"]], params[:code] || ""), :class => "form-control" %>
    </div>
    <div class="form-group">
      <label>
        HTTPメソッド:
      </label>
      <%= select_tag :method, options_for_select([["全て", ""], ["GET", "get"], ["POST", "post"], ["PUT", "put"], ["DELETE", "delete"], ["OPTIONS", "options"]], params[:method] || ""), :class => "form-control" %>
    </div>
    <%= hidden_field_tag "sort", params[:sort] || "" %>

    <%= hidden_field_tag "filter[server_name]", (params[:filter])? params[:filter][:server_name]: "" %>
    <%= hidden_field_tag "filter[host]", (params[:filter])? params[:filter][:host]: "" %>
    <%= hidden_field_tag "filter[vhost]", (params[:filter])? params[:filter][:vhost]: "" %>
    <%= hidden_field_tag "filter[user]", (params[:filter])? params[:filter][:user]: "" %>
    <%= hidden_field_tag "filter[referer]", (params[:filter])? params[:filter][:referer]: "" %>
    <%= hidden_field_tag "filter[path]", (params[:filter])? params[:filter][:path]: "" %>
    <div class="form-group">
      <button type="submit" class="btn btn-default">送信</button>
    </div>
  <% end %>
  <% if params[:filter] %>
    <% params[:filter].each do |item, value| %>
      <button type="button" class="btn btn-default" onclick="exec_filter('apache_access_form', '<%= item %>','')"><%= item %>: <%= value %> <span class="glyphicon glyphicon-remove"></span></button>
    <% end %>
  <% end %>
</div>
