<table id="apache_access_table" class="table table-hover">
  <thead>
    <tr>
      <th>server_name</th>
      <th>path</th>
      <th>code</th>
      <th>host</th>
      <th>vhost</th>
      <th>method</th>
      <th><%= render "layouts/sortable_table_head", :form => "apache_access_form", :item => "time" %></th>
      <th>user</th>
      <th>referer</th>
      <th>agent</th>
      <th>forwarded</th>
      <th><%= render "layouts/sortable_table_head", :form => "apache_access_form", :item => "size" %></th>
    </tr>
  </thead>
  <tbody>
    <%- @logs.each do |log| -%>
      <tr>
        <td><%= render "layouts/filterable_table_item", :form => "apache_access_form", :item => "server_name", :value => log.server_name %></td>
        <td><%= render "layouts/filterable_table_item", :form => "apache_access_form", :item => "path", :value => log.path %></td>
        <td><%= log.code %></td>
        <td><%= render "layouts/filterable_table_item", :form => "apache_access_form", :item => "host", :value => log.host %></td>
        <td><%= render "layouts/filterable_table_item", :form => "apache_access_form", :item => "vhost", :value => log.vhost %></td>
        <td><%= log.method %></td>
        <td><%= log.time %></td>
        <td><%= render "layouts/filterable_table_item", :form => "apache_access_form", :item => "user", :value => log.user %></td>
        <td><%= render "layouts/filterable_table_item", :form => "apache_access_form", :item => "referer", :value => log.referer %></td>
        <td><%= log.agent %></td>
        <td><%= render "layouts/filterable_table_item", :form => "apache_access_form", :item => "forwarded", :value => log.forwarded %></td>
        <td><%= log.size %></td>
      </tr>
    <%- end -%>
  </tbody>
</table>
