<h1>rails.production<%= " - #{params[:session]}" if params[:session] %></h1>
<%= image_tag @graph.dataurl if @graph %>
<%= render "form" %>
<% if @logs %>
  <%= paginate @logs %>
  <%= render "table" %>
  <%= paginate @logs %>
<% else %>
  該当するログがありませんでした
<% end %>
<%= javascript_include_tag :rails_production %>
