<table id="mysql_slow_table" class="table table-hover">
  <thead>
    <tr>
      <th>server_name</th>
      <th><%= render "layouts/sortable_table_head", :form => "mysql_slow_form", :item => "time" %></th>
      <th>user</th>
      <th>host</th>
      <th>host_ip</th>
      <th><%= render "layouts/sortable_table_head", :form => "mysql_slow_form", :item => "query_time" %></th>
      <th><%= render "layouts/sortable_table_head", :form => "mysql_slow_form", :item => "lock_time" %></th>
      <th><%= render "layouts/sortable_table_head", :form => "mysql_slow_form", :item => "rows_sent" %></th>
      <th><%= render "layouts/sortable_table_head", :form => "mysql_slow_form", :item => "rows_examined" %></th>
      <th>sql</th>
    </tr>
  </thead>
  <tbody>
    <%- @logs.each do |log| -%>
      <tr>
        <td><%= log.server_name %></td>
        <td><%= log.time %></td>
        <td><%= log.user %></td>
        <td><%= log.host %></td>
        <td><%= log.host_ip %></td>
        <td><%= log.query_time %></td>
        <td><%= log.lock_time %></td>
        <td><%= log.rows_sent %></td>
        <td><%= log.rows_examined %></td>
        <td><%= log.sql %></td>
      </tr>
    <%- end -%>
  </tbody>
</table>
