<table id="mysql_slow_table" class="table table-double-striped table-condensed">
  <thead>
    <tr>
      <th>server_name</th>
      <th><%= render "layouts/sortable_table_head", :form => "mysql_slow_form", :item => "time" %></th>
      <th>user</th>
      <th>host</th>
      <th>host_ip</th>
      <th><%= render "layouts/sortable_table_head", :form => "mysql_slow_form", :item => "query_time" %></th>
      <th><%= render "layouts/sortable_table_head", :form => "mysql_slow_form", :item => "lock_time" %></th>
      <th><%= render "layouts/sortable_table_head", :form => "mysql_slow_form", :item => "rows_sent" %></th>
      <th><%= render "layouts/sortable_table_head", :form => "mysql_slow_form", :item => "rows_examined" %></th>
    </tr>
  </thead>
  <tbody>
    <%- @logs.each do |log| -%>
      <tr>
        <td><%= render "layouts/filterable_table_item", :form => "mysql_slow_form", :item => "server_name", :value => log.server_name %></td>
        <td><%= log.time %></td>
        <td><%= render "layouts/filterable_table_item", :form => "mysql_slow_form", :item => "user", :value => log.user %></td>
        <td><%= render "layouts/filterable_table_item", :form => "mysql_slow_form", :item => "host", :value => log.host %></td>
        <td><%= render "layouts/filterable_table_item", :form => "mysql_slow_form", :item => "host_ip", :value => log.host_ip %></td>
        <td><%= log.query_time %></td>
        <td><%= log.lock_time %></td>
        <td><%= log.rows_sent %></td>
        <td><%= log.rows_examined %></td>
      </tr>
      <tr>
        <td colspan="9"><pre class="brush: sql"><%= log.sql %></pre></td>
      </tr>
    <%- end -%>
  </tbody>
</table>
