<h1>mysql.slow<%= " - #{params[:session]}" if params[:session] %></h1>
<%= render "layouts/graphs", :graphs => @graphs %>
<%= render "form" %>
<% if @logs %>
  <%= paginate @logs %>
  <%= render "table" %>
  <%= paginate @logs %>
<% else %>
  該当するログがありませんでした
<% end %>
<%= javascript_include_tag :mysql_slow %>
