<% if graphs %>
  サーバー名やアプリ名クリックでグラフが追加されます
  <ul class="nav nav-tabs">
  <% graphs.each_with_index do |graph, i| %>
    <li<%= raw ' class="active"' if i == 0 %>><a href="#<%= graph.id %>" data-toggle="tab"><%= graph.name %></a></li>
  <% end %>
  </ul>
  <div class="tab-content">
  <% graphs.each_with_index do |graph, i| %>
    <%= content_tag :div, :class => "tab-pane#{" active" if i == 0}", :id => graph.id do %>
      <%= image_tag graph.dataurl %>
    <% end %>
  <% end %>
  </div>
<% end %>
